<!DOCTYPE html>
<html lang="pt-br">
<head th:fragment="head">
<title>MyBank</title>
<meta charset="utf-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<div class="container">
	<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">MyBank</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Início</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Carteira</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Notificações</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Extrato</a>
					</li>
					<div>
					</div>
					<li><a href="/pagamento/formulario"><button type="button" class="btn btn-success">Pagar</button></a></li>
					<nav class="ms-auto p-2 bd-highlight">
					<li class="nav-item"><b>@<span th:text="${cliente.username}"></span></b>
					</li>
					</nav>
				</ul>
			</div>
		</div>
	</nav>
	</div>
</head>