<!DOCTYPE html>
<html lang="pt-br">
<title>MyBank</title>
<meta charset="utf-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<div class="container">
	<head>
<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">MyBank</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<nav class="ms-auto p-2 bd-highlight">
			<a class="text-dark" sec:authorize="!isAuthenticated()" href="/login">Login</a>
			<a class="text-dark" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
			</nav>
					
		</div>
	</nav>
    </head>
    <body>
        <h1>Login</h1>
        <div th:if="${param.error}">
            Usuário e senha inválido.</div>
        <div th:if="${param.logout}">
            Você está deslogado.</div>
        <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
            <div>
            <input type="text" name="username" placeholder="Usuário"/>
            </div>
            <div>
            <input type="password" name="password" placeholder="senha"/>
            </div>
            <input type="submit" value="Log in" />
        </form>
    </body>
</div>
</html>
